@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins:ital,wght@0,100;0,300;0,600;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

.card-body img{
    width: 100%;
    height: auto;
}

.projects{
    margin: 50px 0;
  }
  
.projects h1{
    margin-bottom: 50px;
}

.projects-content{
    margin: 30px 0;
}